blacklistBundleSymbolicNames=[ \
  "Liferay\ Commerce\ -\ Liferay\ Commerce\ -\ Impl", \
  "Liferay\ Commerce\ -\ Liferay\ Commerce\ -\ Impl-minium-theme-wrapper", \
  "Liferay\ Commerce\ -\ Liferay\ Commerce\ -\ Impl-speedwell-theme-wrapper", \
  "Liferay\ Commerce\ -\ Liferay\ Commerce\ -\ API", \
  ]
